.icon-error,
.icon-normal {
	background-position: 95% 50%;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-size: 16px 16px;
}
.icon-error {
	background-image: url(./images/icon-red.png);
}
.icon-normal {
	background-image: url(./images/icon-normal.png);
}

.border-red {
	border: 1px solid red!important;
}

.label-error {
	color: red;
    padding: 0 4px;
    float: none!important;
    margin-left: 10px;
    display: inline-block!important;
}